/* colors
**********************************************************/
// base
$color-black: #000;
$color-danger: #fe5b5c;
$color-success: #a0cb4d;
$color-type: #242f30;
$color-warning: #fdb634;
$color-white: #fff;

// social
$color-facebook: #3b5998;
$color-google-plus: #f44336;
$color-pinterest: #c92228;
$color-twitter: #6cadde;

// branding
$color-primary: #addfe4;
$color-primary-dark: darken($color-primary, 10%);
$color-primary-light: lighten($color-primary, 17%);
$color-primary-lighter: lighten($color-primary, 19%);
$color-secondary: #4fd287;
$color-tertiary: #d1ef69;
$color-quaternary: #3a4a4c;
$color-quaternary-light: lighten(#3a4a4c, 10%);

// component specific
$color-border: lighten($color-type, 75%);

$colors: (
  black: $color-black,
  border: $color-border,
  danger: $color-danger,
  facebook: $color-facebook,
  google-plus: $color-google-plus,
  pinterest: $color-pinterest,
  primary-dark: $color-primary-dark,
  primary-light: $color-primary-light,
  primary-lighter: $color-primary-lighter,
  primary: $color-primary,
  quaternary-light: $color-quaternary-light,
  quaternary: $color-quaternary,
  secondary: $color-secondary,
  success: $color-success,
  tertiary: $color-tertiary,
  twitter: $color-twitter,
  type: $color-type,
  warning: $color-warning,
  white: $color-white
);

// inputs
$disabled-opacity: 0.4;

/* typography
**********************************************************/
// font families
$font-family-mono: Monaco, Menlo, Consolas, 'Courier New', monospace;
$font-family-sans-serif: 'Benton Sans', arial, sans-serif;
$font-family-secondary: arial, sans-serif;

// font sizes
$font-size-base: 1;
$line-height-base: 1.6;

// font weights
$font-weight-heavy: 800;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-base: 400;
$font-weight-light: 200;

/* device widths
**********************************************************/
$widescreen: 56.25%;
$width-sm: 576px;
$width-xs: 0;
$width-md: 768px;
$width-lg: 992px;
$width-xl: 1200px;

/* spacing
**********************************************************/
$spacer: 1rem;

/* scaffolding
**********************************************************/
$border-radius: $spacer;
$border-width: 1px;
$border-width-large: $border-width * 6;

// grid
$grid-gutter: $spacer;
$grid-columns: 12;
$grid-breakpoints: (
  xs: $width-xs,
  sm: $width-sm,
  md: $width-md,
  lg: $width-lg,
  xl: $width-xl
);

// z-indexes
$z-index-navigation: 10;
$z-index-overlay: 20;
$z-index-mobile-navigation: 30;

/* shadows
*********************************************************/
$shadow-down: 0 $border-width $spacer rgba($color-black, 0.1);
$shadow-float: 0 $border-width * 2 $spacer * 2 rgba($color-black, 0.08);

/* animations
**********************************************************/
// duration
$duration-base: 0.2s;

// easing
$ease-default: ease;

// html {
//   // adjust this value to control entire app REM size
//   font-size: 63.75%;
// }
