@import '../../../../styles/config/variables';
@import '../../../../styles/util/shadow';

.root {
  @extend .shadow--primary;

  background-color: $color-white;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  padding: $spacer;

  .avatar {
    margin-bottom: $spacer;

    img {
      border-radius: 50%;
      display: block;
      height: auto;
      margin: 0 auto;
      width: 75%;

      @media screen and (max-width: $width-sm) {
        width: 50%;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .description {
    overflow: hidden;
    flex: 1;
  }
}
