{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    ["module-resolver", {
      "alias": {
        "components": "./src/components",
        "constants": "./src/constants",
        "documents": "./src/documents",
        "fonts": "./src/fonts",
        "images": "./src/images",
        "services": "./src/services",
        "store": "./src/store",
        "styles": "./src/styles",
        "util": "./src/util"
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "@babel/plugin-transform-react-constant-elements",
        "lodash",
        "transform-react-pure-class-to-function"
      ]
    }
  }
}
