@import '../../styles/config/variables';
@import '../../styles/mixins/transition';

.root {
  @include transition(#{'color, background, transform'});

  background: $color-primary;
  color: $color-white;
  font-weight: bold;
  padding: $spacer / 2 $spacer;
  border-radius: $spacer * 2;
  transform: scale(1);

  &:hover {
    color: $color-white;
    background: $color-primary-dark;
    transform: scale(1.05);
  }
}
