@import '../../../../styles/config/variables';

.root {
  height: 100%;
  max-height: 500px;
  overflow: hidden;
  position: relative;
  width: 100%;

  .map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    :global {
      button {
        display: none;
      }

      .gm-style-cc {
        display: none;
      }

      .gmnoprint {
        display: none;
      }
    }
  }

  .spacer {
    // background: rgba($color-black, $disabled-opacity);
    height: 0;
    padding-bottom: $widescreen;
    position: relative;
    width: 100%;
  }
}
