@import '../../../styles/config/variables';

.root {
  .content {
    flex: 4;
    display: flex;
    flex-direction: column;

    p {
      flex: 1;
    }

    @media screen and (min-width: $width-md) {
      flex: 2;
    }
  }

  .image {
    margin-right: $spacer;
    flex: 1;
  }
}
