@import '../../../styles/config/variables';
@import '../../../styles/mixins/font-size';
@import '../../../styles/mixins/line-height';

.root {
  @include font-size(0.8);
  @include line-height(0.8);

  background: $color-quaternary;
  color: $color-white;
  padding: $spacer / 2 $spacer;

  a {
    animation-delay: $duration-base;
    color: $color-white;
    text-decoration: none;

    &:hover {
      color: $color-secondary;
    }

    &:nth-child(2) {
      animation-delay: $duration-base * 2;
    }
  }
}
