@import '../../../../../styles/config/variables';
@import '../../../../../styles/util/shadow';

.root {
  .avatar {
    margin-right: $spacer * 2;

    img {
      border-radius: 50%;
      display: block;
      height: auto;
      margin: 0 auto;
      width: 100%;
    }

    @media screen and (max-width: $width-sm) {
      margin-right: $spacer;
    }
  }
}
