@import '../../styles/config/variables';

.root {
  background: $color-primary-lighter;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  flex: 1;
  overflow-y: auto;
  position: relative;
}
