@import '../../../styles/config/variables';
@import '../../../styles/mixins/transition';

.root {
  background: $color-white;
  box-shadow: $shadow-float;

  .accountAccess {
    align-items: center;
    display: flex;
    margin-left: $spacer;

    .button {
      background: $color-primary-light;
      color: $color-primary;

      &:hover {
        color: $color-white;
        background: $color-primary;
      }
    }

    @media screen and (max-width: $width-tablet) {
      display: none;
    }
  }

  .content {
    display: flex;
    margin: 0 auto;
    max-width: $width-max;
    padding: 0 $spacer;
  }

  .links {
    align-items: center;
    display: flex;
    flex: 3;
    justify-content: flex-end;

    a {
      align-items: center;
      color: $color-type;
      display: flex;
      height: $spacer * 4;
      padding-left: $spacer / 2;
      padding-right: $spacer / 2;
      position: relative;
      text-decoration: none;

      &::after {
        @include transition(#{'opacity, width'});

        content: '';
        background-color: $color-primary;
        display: block;
        height: $border-width * 5;
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        width: 0%;
      }

      &.active,
      &:hover {
        &::after {
          opacity: 1;
          width: 100%;
        }
      }
    }

    @media screen and (max-width: $width-tablet) {
      display: none;
    }
  }

  .logo {
    background-image: url(../../../images/db-tax-logo.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    flex: 1;
    height: $spacer * 4;
  }

  .mobileToggle {
    flex: 2;
    align-items: center;
    display: none;
    justify-content: flex-end;

    @media screen and (max-width: $width-tablet) {
      display: flex;
    }

    @media screen and (max-width: $width-mobile) {
      flex: 1;
    }
  }
}
