@import '../../../styles/config/variables';

.root {
  align-items: center;
  background: $color-primary;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  min-height: $spacer * 5;
  overflow: hidden;
  position: relative;

  .image {
    display: block;
    height: auto;
    position: relative;
    width: 100%;
    z-index: 2;
  }

  .preloader {
    padding: $spacer;
    position: absolute;
    z-index: 1;
  }
}
