@import '../../../styles/config/variables';

.root {
  background: $color-quadrinary;
  color: $color-white;
  padding: $spacer $spacer $spacer * 2;

  .content {
    max-width: $width-max;
    margin: 0 auto;
  }
}
