@import '../config/variables';
@import '../mixins/transition';

a {
  @include transition(color);

  color: $color-primary-dark;
  font-weight: $font-weight-base;
  text-decoration: underline;

  &:hover {
    color: darken($color-primary-dark, 10%);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }
}
