@import '../../../../styles/config/variables';
@import '../../../../styles/mixins/font-size';
@import '../../../../styles/mixins/line-height';

.root {
  @include font-size(0.8);
  @include line-height(1);

  display: flex;
  padding: $spacer * 2 0;

  .content {
    a {
      color: $color-white;
      text-decoration: none;

      &:hover {
        color: $color-secondary;
      }
    }

    > div {
      margin-bottom: $spacer / 2;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .day {
    width: $spacer * 3;
  }

  h3 {
    @include font-size(0.8);
    @include line-height(1);

    text-transform: uppercase;
  }

  .learnMore {
    flex: 3;

    .email {
      background: rgba($color-white, $disabled-opacity);
      margin-top: $spacer;

      input {
        &::placeholder {
          color: rgba($color-white, $disabled-opacity);
        }
      }
    }
  }

  .section {
    flex: 1;
    margin-right: $spacer * 2;

    @media screen and (max-width: $width-md) {
      margin-bottom: $spacer * 2;
    }
  }

  @media screen and (max-width: $width-md) {
    display: block;
  }
}
