@import '../../styles/config/variables';
@import '../../styles/mixins/transition';

.root {
  overflow: hidden;
  padding: $spacer * 4 $spacer;
  background: $color-white;

  .content {
    margin: 0 auto;
    max-width: $width-xl;
  }

  @media screen and (max-width: $width-md) {
    padding: $spacer * 2 $spacer;
  }
}

@each $color, $value in $colors {
  .root.#{$color} {
    background-color: $value;

    @if (lightness($value) < 80) {
      color: $color-white;
      border-color: $color-white;

      a,
      button,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $color-white;
      }

      ul li {
        &::before {
          color: $color-white;
        }
      }
    }
  }
}
