@import '../../styles/config/variables';

.root {
  h1 {
    margin-top: 0;
  }

  .subtitle {
    color: $color-secondary;
    font-weight: $font-weight-heavy;
    margin: 0 0 $spacer / 2 0;
    text-transform: uppercase;
  }
}
