@import '../../styles/config/variables';

.root {
  background: $color-white;
  border-radius: $border-radius;
  box-sizing: border-box;
  left: 0;
  margin: 0 auto;
  max-width: $width-max;
  padding: $spacer * 2;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;

  @media screen and (max-width: $width-tablet) {
    position: relative;
    padding: $spacer * 2 $spacer;
    transform: none;
  }
}

@each $color, $value in $colors {
  .root.#{$color} {
    box-shadow: 0 $spacer $spacer rgba($value, 0.5);
  }
}
