@import '../../../styles/config/variables';
@import '../../../styles/util/shadow';

.root {
  h1 {
    margin-top: 0;
  }

  .subtitle {
    display: inline-block;
    font-weight: $font-weight-heavy;
    margin: 0 0 $spacer / 2 0;
    text-transform: uppercase;

    &.background {
      @extend .shadow--primary-light;

      background: $color-white;
      border-radius: $spacer;
      margin-bottom: $spacer;
      padding: $spacer / 4 $spacer;
    }
  }
}
