@import '../../../styles/config/variables';
@import '../../../styles/mixins/font-size';
@import '../../../styles/mixins/line-height';

.root {
  @include font-size(0.8);
  @include line-height(0.8);

  color: $color-quaternary-light;
  text-transform: uppercase;
  margin-bottom: $spacer * 2;
}
